
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Minion Pro", Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Minion Pro", Times, "Times New Roman", serif;
}

/* fix bootstrap static navbar spacing */
.navbar {
    margin-bottom: 0;
}